<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is website is giving information about the current status of your search location</p>
        <img class="portrait" src="/img/pic2.jpg">
    </div>

    {{>footer}}

</body>

</html>